html,
body {
  /*ESTRUCTURA/*/
  display: flex;
  flex-flow: column;
  height: auto;
  margin: 0%;
 
  margin: 0;
  /*ESTRUCTURA/*/

  font-family: Arial, Helvetica, sans-serif;
  backdrop-filter: blur(100px);
  border: 0px solid rgb(39, 216, 23);
  background-color: #e0e0e0;


}

body::-webkit-scrollbar {
  display: none;
}


.container {
  /*ESTRUCTURA/*/
  display: flex;
  flex-flow: column;
  height: 100%;
  /*ESTRUCTURA/*/
  border: 0px solid blue;

  
}


nav {
  /*ESTRUCTURA/*/
  display: flex;
  width: 100vw;
  height: auto;
  justify-content: left;
  font-size: 2rem;
  font-family: cursive;
  /*ESTRUCTURA/*/
  background-color: #f9a825;

  color: rgb(1, 1, 1);
  /* position: sticky;
    top: 0px;
    z-index: 1;  */
  border: 0px solid rebeccapurple;
  flex-wrap: wrap;

}

header {
  display: flex;
  flex-flow: row;
  border: 0px solid rebeccapurple;
  width: 100vw;
  margin-left: 0rem;
  justify-content: right;


}

main {
  /*ESTRUCTURA/*/
  display: flex;
  border: 0px solid red;
  width: 100%;
  height: 100%;
  flex-wrap: wrap;


  /*ESTRUCTURA/*/
}

.container-main {
  display: flex;
  flex-flow: column;
  width: 100%;
  height: 100%;
  border: 0px solid red;
  align-items: center;
  

}



.aside {
  display: flex;
  flex-flow: row;
  justify-content: right;
  border: 0px solid rgb(0, 0, 0);
  width: 50rem;
  align-items: center;
  margin-right:  2rem;
  margin-top: 2rem;
  /* position: sticky;
  top: 0px;
  z-index: 1;  */

}

.encabezado {
  display: flex;
  width: 25%;
  height: auto;
  border: 0px solid rgba(255, 0, 0, 0.985);
  /* background-color: white; */
  justify-content: center;

}

footer {
  display: none;
}

/*///////////////////////////////////////////////////////////////////////*/


#icon-usuario {
  font-size: 2.5rem;
  color: rgb(255, 254, 247);
  width: auto;
  border: 2px solid rgba(240, 240, 239, 0.972);
  border-radius: 50%;
  background-color: rgb(0, 0, 0);
  text-decoration: none;
}

.buscador {

  display: flex;
  justify-content: center;
  border: 0px solid black;
  /* position: sticky;
  top: 0px;
  z-index: 1;  */
}

#input-buscar {

  border-radius: 2rem;
  font-size: 1rem;
  background-color: white;
  border: none;
  /* position: sticky;
  top: 0px;
  z-index: 1;  */


}

#boton-buscar {
  border: none;
  background: none;
  font-size: 2rem;
  color: white;
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  /* position: sticky;
  top: 0px;
  z-index: 1;  */
  margin: 3px;
  text-decoration: none;
  justify-content: center;
  text-align: center;
  align-items: flex-end;

}

#boton-buscar:hover {
  transform: scale(1.2);
}



.restaurantes {
  display: flex;
  border: 0px solid rebeccapurple;
  border-radius: 3rem;
  width: auto;
  height: 100%;
  /* overflow: scroll; */
  flex-wrap: wrap;
  justify-content: center;
}.articulos2 {
  display: flex;
  width: 90vw;
  height: 100%;
  border-radius: 3rem;
  margin-top: 2rem;
  background-color: rgba(255, 255, 255, 0.69);
  border: none;
  /* flex-wrap: wrap; */
  border: 0px solid yellow;
}

#img {
  display: flex;
  width: 12rem;
  height: 12rem;
  border-radius: 50%;
  margin: 1rem;
  border: 0px solid rgb(0, 0, 0);
}

#img:hover {
  transform: scale(1.2);

  filter: brightness(90%);
  -webkit-box-shadow: 0 6px 9px -3px #0e0d0d;
  box-shadow: 0 6px 9px -3px #111111;

}

#logo {
  display: flex;
  border: 0px solid red;
  font-size: cover;
  width: 12rem;
  height: 8rem;
  margin: 0%;
  padding: 0%;

}



.nombre1 {
  font-family: fantasy;
  font-size: 2rem;
  border: 0px solid rgb(253, 220, 9);

}

#titulo {
  color: white;
  width: 40%;
  height: auto;
  border: 0px solid wheat;
  font-family: tipo_letra;

}

.anuncio1 {
  background: url(anuncio1.jpg);
  background-position: center;
  background-size: contain;
}

.anuncio2 {
  background: url(anuncio2.jpg);
  background-position: center;
  background-size: contain;
}

.anuncio3 {
  background: url(imagenes/anuncio3.jpg);
  background-position: center;
  background-size: contain;
}

.anuncio4 {
  background: url('anuncio1.jpg');
  background-position: center;
  background-size: contain;
  border: 10px solid yellow
}
.publicidad {
  display: flex;
  width: 10vw;
  height: 45vh;
  border-radius: 3rem;
  margin-top: 1rem;
  /* background-color: rgba(254, 152, 68, 0.828); */
  border: none;
  flex-wrap: wrap;
  border: 0px solid yellow;
}

.anuncios {
  display: flex;
  border: 0px solid rebeccapurple;
  border-radius: 3rem;
  width: 80vw;
  height: 45vh;
  
  /* overflow: scroll; */
  flex-wrap: wrap;
  justify-content: center;
  margin: 1rem;
  margin-top: 2rem;
}
.public{
  display: flex;
  justify-content: center;
  border: 0px solid red;
  height: 20%;

}
#nombre-restaurante{
  font-family:tipo_letra;
  text-align: center;
}
/*////////////////////////  @LOGIN-REGISTER  /////////////////////////////////////*/

#login {
  color: #000000;
  font-size: 5rem;
  margin-top: 2rem;
  margin-left: -0.6rem;
}
/* 
#modal-1 {
  display: flex;
  flex-direction: column;
  border: 0px solid rebeccapurple;
  top: 9.8rem !important;
} */

#boton-ingresar{
  border: 0px solid rebeccapurple;
  display: flex;
  flex-flow: column;
  flex-wrap: wrap;
  justify-content: center;
}#iniciar {
  background-color: green;
  color: #242220;
 

  font-family: tipo_letra;
}#reset-password{
  color: #1126e5;
  font-size: 50%;
  font-family: tipo_letra;
}


#boton-registrar{
  border: 0px solid rebeccapurple;
  display: flex;
  flex-flow: row;
  justify-content: right;
 
  width: 100%;
  
  margin-right: 1rem;
  
}

#enlaces{
  display: flex;
  
  border: 0px solid red;
}

#redes{
 border: 0px solid palevioletred;
 width: 100%;
}


#ini_sesi {
  padding: 2rem;
  padding-top: 0;
  
}




#registrarse {
  display: flex;
  background-color: rgb(56, 144, 211);
  color: #000000;
  /* margin-left: 2rem;
  margin-top: 2rem; */
  font-family: tipo_letra;
}

.input-field .prefix.active {
  color: #f9a825;
}

.validate:focus,
.validate:active {
  border-color: #f9a825 !important;
  box-shadow: 0px 1px #f9a825 !important;
}

.nombre-login {
  margin-top: 0rem !important;
  text-align: center;
  font-family: tipo_letra;
  justify-content: center;
  background-color: #db2781;
}



.circulo {
  font-size: 1.5rem;
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  
  text-align: center;
  text-decoration: none;
}

.facebook {
  background: #3B5598;
  color: white;
}

.whatsapp {
  background-color: #27db48;
  color: white;
}

#sign {
  margin-left: 20rem !important;
  border: 1px solid rebeccapurple;
  color: green;
}

@font-face {
  font-family: tipo_letra;
  src: url(fuentes/Appetite.ttf);
}

.input-field label {
  font-family: tipo_letra;
}



/*////////////////////////  @MEDIA  /////////////////////////////////////*/

/*/////////  @MOVIL  //////////*/

@media (max-width: 600px),
(max-height: 600px) {
  #logo {
    width:7.5rem;
    height: 6rem;
    margin-left: 2rem;
    border: 0px solid red;
  }

  .restaurantes {
    width: auto;
    
    justify-content: center;
  }

  .articulos2 {
    width: auto;
   
  }

  #img {
    display: flex;
    width: 25%;
    height: 17%;
    margin-left: 1rem;
    border: 0px solid rgb(253, 220, 9);
    font-size: cover;
  }

  #input-buscar {
    display: none;
  }

  nav {
    position: sticky;
    top: 0px;
    z-index: 1;
  }

  .anuncios{
    border: 0px solid rebeccapurple;
    height: 25vh;
  }





}

@media (max-width: 790px),(max-height: 300px) {
  #titulo {
    display: none;
  }

}

/*/////////  @PC  //////////*/

@media (min-width: 2248px),(min-width:790px){

  #modal1 {
    
    border: 0px solid rebeccapurple;
    left: 69%;
    width: 30%;
    height: 33%;
    border-radius: 1rem;
  }
}


/*////////////////////////////////////////////////// EL PQR /*/

